body {
  margin: 0;
  padding: 0;
  background-color: #222831;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  display: inline-block;
  font-size: 15px;
  color: #848ccf;
}

input[type="text"] {
  padding-left: 15px;
  margin-right: 25px;
  height: 40px;
  border: none;
  font-size: 18px;
  width: 450px;
  border-radius: 3px;
}

input[type="text"]::placeholder {
  opacity: 0.7;
  text-align: left;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 30px;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #eeeeee;
}

button {
  text-align: center;
  border: none;
  height: 42px;
  width: 120px;
  font-size: 1em;
  font-weight: bolder;
  background-color: #68b0ab;
  color: #ffffff;
  border-radius: 3px;
}

button:hover {
  background-color: #0f4c75;
  cursor: pointer;
}

.container {
  padding: 25px;
  margin: 10px auto 0 auto;
  width: 700px;
}

.header {
  line-height: 10px;
  font-size: 1em;
  color: #eeeeee;
}

.todo {
  margin-top: 30px;
}

.notes {
  margin-top: 35px;
}

.main {
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
}

#task {
  color: #eeeeee;
  font-size: 1.3em;
}
